body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/seattle_2_crop_3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.row {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.aboutText {
  opacity: .85;
  margin: 50px;
}

.col {
  float: none
}

.card {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 25px;
  float: left
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  width: 40px;
  height: 4 0px;
  margin: 0px 10px;
  padding-top: 3px;
}

.copyright {
  color: black;
  margin-left: 15px;
}

.pageHeader {
  display: inline
}

.sidenav {
  width: 175px;
}

.projectRow {
  width: 100%;
  padding: 0px;
}

.projectCard {
  padding: 15px;
}

.card .card-action {
  padding: 5px;
}

h3 {
  margin-top: 5px;
}

a{
  color: white;
}

.resumePic{
  height:1120px;
  width: 870px;
  border-radius: 25px;
  filter: drop-shadow(1px 1px 1px black);
  margin: 0 auto;
}

.githubSmall{
  padding:3px;
}
.btn-floating:hover{
  transform: scale(1.1);
}

.projectDesc{
  font-size: small;
}

.projectHeader{
  color: white;
  text-align: center
}

.projectPic{
  border-radius: 25px;
  filter: drop-shadow(1px 1px 1px black);
  width: auto;
  height: auto
}
.projectPic:hover{
  opacity: 0.7;
}

.deployedLink{
  color: black;
}
.deployedLink:hover{
  text-decoration: underline;
  color: grey
}

.waves-effect{
  border-radius: 50px;
}

.brand-logo{
  margin-top:15px;
}

h5, h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Noto Sans', sans-serif;
}

.aboutCard{
    padding: 10px;;
}

.contactCard{
  padding: 10px;;
  width: 30%;
  margin: 0 auto;
}

.contentDiv{
  text-align: center;
} 
